<header>
    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand" href="#">Snipcart with Angular</a>
        <!-- REQUIRED: Shopping cart button with class '.snipcart-checkout' -->
        <button class="btn btn-outline-light snipcart-checkout">
            <i class="fas fa-shopping-cart"></i>
        </button>
    </nav>
</header>

<main class="container">
    <div class="card-columns">
        <div class="card shadow-sm border-0" *ngFor="let product of products$ | async">
            <img class="card-img-top" [src]="product.image" [alt]="product.name">
            <div class="card-body">
                <span class="category text-muted">{{ product.category | uppercase }}</span>
                <h3 class="card-title">{{ product.name }}</h3>
                <p class="card-text">{{ product.description }}, Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, eius?</p>
                <div class="d-flex justify-content-between align-content-center">
                    <span class="font-weight-bold">{{ product.price | currency }}</span>
                    <!-- REQUIRED: Snipcart buy button needs the class '.snipcart-add-item' & product attributes -->
                    <button class="btn btn-dark snipcart-add-item" [attr.data-item-id]="product.id" [attr.data-item-price]="product.price" [attr.data-item-url]="product.url" [attr.data-item-description]="product.description" [attr.data-item-image]="product.image" [attr.data-item-name]="product.name"
                        [attr.data-item-categories]="product.category">
                        <i class="fas fa-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Unsplash image credit -->
    <p>
        Photo by
        <a href="https://unsplash.com/@kelli_mcclintock?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Kelli McClintock">
            <span>Kelli McClintock</span>
        </a>
        on Unsplash
    </p>
</main>